.idea
.venv
img/temp/
img/default/temp/
img/default/kv/temp/
img/default/test

txt/log
study_open_file_end_edit.py
service
tempo.py
план.txt
/img/kv/result_round/
temp_pack


t

fish
РЫБ.py
find_fish_img.py