.idea
.venv
img/test
/img/Cr/
/log/
study_open_file_end_edit.py
service/t_shelve.py
t/tempo.py
план.txt
/img/kv/result_round/
/img/kv/result_round/result_round_loot/
/img/kv/result_round/result_all_round/


/t/a_pil_image.py
